.blog-wrapper {
  .blog-banner {
    background-image: url("http://supro.reactstorefronts.com/static/img/bg/blog-grid.jpg");
    background-position: center;
    background-size: cover;
    height: 580px;
  }
}
